@font-face {
  font-family: "PilatWide";
  font-weight: 200;
  src: local("PilatWide-Regular"),
    url("../font/PilatCondensedTest-Thin.woff2") format("woff2"),
    url("../font/PilatWide-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "PilatWide";
  font-weight: 300;
  src: local("PilatWide-Regular"),
    url("../font/PilatExtendedTest-Light.woff2") format("woff2"),
    url("../font/PilatWide-Light.ttf") format("truetype");
}
@font-face {
  font-family: "PilatWide";
  font-weight: 400;
  src: local("PilatWide-Book"),
    url("../font/PilatExtendedTest-Regular.woff2") format("woff2"),
    url("../font/PilatWide-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PilatWide";
  font-weight: 500;
  src: local("PilatWide-DemiBold"),
    url("../font/PilatExtendedTest-Book.woff2") format("woff2"),
    url("../font/PilatWide-Book.ttf") format("truetype");
}
@font-face {
  font-family: "PilatWide";
  font-weight: 600;
  src: local("PilatWide-Bold"),
    url("../font/PilatExtendedTest-Demi.woff2") format("woff2"),
    url("../font/PilatWide-DemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "PilatWide";
  font-weight: 700;
  src: local("PilatWide-Bold"),
    url("../font/PilatExtendedTest-Bold.woff2") format("woff2"),
    url("../font/PilatWide-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PilatWide";
  font-weight: 800;
  src: local("PilatWide-Bold"),
    url("../font/PilatExtendedTest-Heavy.woff2") format("woff2"),
    url("../font/PilatWide-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "PilatWide";
  font-weight: 900;
  src: local("PilatWide-Bold"),
    url("../font/PilatExtendedTest-Black.woff2") format("woff2"),
    url("../font/PilatWide-Black.ttf") format("truetype");
}
