body {
  background: #0f0f10;
}
.initia {
  background: #0f0f10;
  color: #fff;
  max-width: 1920px;
  min-width: 1600px;
  overflow-x: hidden;
  margin: 0 auto;
}

span {
  display: inline-block;
}
header {
  width: 100%;
  max-width: 1920px;
  min-width: 1600px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px;
  box-sizing: border-box;
  background: #0f0f10;
  z-index: 10;
}

.main_vi {
  position: relative;
  padding-top: 215px;
  font-family: "Red Rose", cursive;
}
.main_vi .img_01 {
  position: absolute;
  top: 520px;

  left: 140px;
}
.main_vi svg {
  width: 155px;
  position: absolute;
  top: 124px;
  right: 426px;
}
.main_vi_text {
  font-weight: 300;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
}
.main_vi_text span {
  display: inline-block;
}
.main_vi .sec_desc {
  padding-top: 70px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.main_vi .sec_desc span {
  display: inline-block;
}
.section_01 {
  padding-top: 320px;
  text-align: right;
  font-weight: 300;
  font-size: 110px;
  line-height: 100px;
  color: #555555;
  font-family: "Red Rose", cursive;
}

.section_l1 {
  padding-top: 472px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.section_l1 .img_02 {
  position: absolute;
  left: -340px;
  top: 0;
}
.section_l1 h2 {
  padding-left: 520px;
  display: flex;
  align-items: flex-start;
  font-family: "Red Rose";
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
}
.section_l1 h2 .tit {
  padding-left: 30px;
}
.section_l1 .l1_list {
  padding-top: 30px;
}
.section_l1 .l1_list dl {
  padding-top: 80px;
  width: 620px;
}
.section_l1 .l1_list dl dt {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}
.section_l1 .l1_list dl dd {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-top: 20px;
}
.section_l2 {
  padding-top: 445px;
  position: relative;
}
.section_l2 .img_03 {
  position: absolute;
  left: 893px;
  top: 130px;
}
.section_l2 h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Red Rose";
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
}
.section_l2 h2 .num {
  padding-left: 160px;
}
.section_l2 .l2_list {
  padding-top: 44px;
  padding-left: 160px;
}
.section_l2 .l2_list dl {
  padding-top: 100px;
  width: 1120px;
}
.section_l2 .l2_list dl dt {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #373737;
}
.section_l2 .l2_list dl dd {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  padding-top: 40px;
}
.section_l2 .img_04 {
  position: absolute;
  bottom: -730px;
  right: 0;
}
.section_l1_lobby {
  padding-top: 600px;
  max-width: 1430px;
  margin: 0 auto;
  position: relative;
}

.section_l1_lobby h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section_l1_lobby h2 .num {
  font-family: "Red Rose";
  font-weight: 300;
  font-size: 60px;
  line-height: 75px;
}
.section_l1_lobby h2 .tit {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 150px;
  padding-top: 10px;
}
.section_l1_lobby .lobby_list {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.section_l1_lobby .lobby_list .list_item {
  width: 50%;
  box-sizing: border-box;
  padding-left: 80px;
  margin-top: 125px;
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 60px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.section_l1_lobby .lobby_list .list_item:nth-child(1) {
  background-image: url(../image/common/initia_lobby_01.png);
}
.section_l1_lobby .lobby_list .list_item:nth-child(2) {
  background-image: url(../image/common/initia_lobby_02.png);
}
.section_l1_lobby .lobby_list .list_item:nth-child(3) {
  background-image: url(../image/common/initia_lobby_03.png);
}
.section_l1_lobby .lobby_list .list_item:nth-child(4) {
  background-image: url(../image/common/initia_lobby_04.png);
}
.section_sdk {
  padding-top: 470px;
}
.section_sdk {
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section_sdk h2 {
  display: flex;
  margin-left: auto;
}
.section_sdk h2 .num {
  font-family: "Red Rose";
  font-weight: 300;
  font-size: 60px;
  line-height: 150px;
  padding-top: 30px;
  padding-right: 54px;
}
.section_sdk h2 .tit {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 150px;
  padding-top: 10px;
  text-align: right;
}
.section_sdk h2 .tit b {
  font-weight: bold;
}
.section_sdk .sdk_list {
  max-width: 1430px;
  margin: 0 auto;
}
.section_sdk .sdk_list dl {
  padding-top: 100px;
  width: 900px;
}
.section_sdk .sdk_list dl dt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.section_sdk .sdk_list dl dd {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #9b9b9b;
  padding-top: 30px;
}

.section_wallet {
  padding-top: 590px;
  padding-bottom: 360px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.section_wallet .img_05 {
  position: absolute;
  left: 0;
  top: 310px;
}
.section_wallet h2 {
  position: relative;
  margin-right: 517px;
  text-align: right;
}
.section_wallet h2 .tit {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 300;
  font-size: 150px;
  line-height: 150px;
}
.section_wallet h2 .num {
  position: absolute;
  top: 50px;
  right: 450px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 75px;
}
.section_wallet .wallet_info {
  padding-top: 40px;
  padding-right: 160px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #9b9b9b;
  width: 800px;
}
