@charset "utf-8";

@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Thin"),
		url("../font/PilatWide-Thin.woff") format("woff");
	font-style:normal;
	font-weight: 200;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Light"),
		url("../font/PilatWide-Light.woff") format("woff");
	font-style:normal;
	font-weight: 300;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Regular"),
		url("../font/PilatWide-Regular.woff") format("woff");
	font-style:normal;
	font-weight: 400;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Book"),
		url("../font/PilatWide-Book.woff") format("woff");
	font-style:normal;
	font-weight: 500;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-DemiBold"),
		url("../font/PilatWide-DemiBold.woff") format("woff");
	font-style:normal;
	font-weight: 600;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Bold"),
		url("../font/PilatWide-Bold.woff") format("woff");
	font-style:normal;
	font-weight: 700;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Heavy"),
		url("../font/PilatWide-Heavy.woff") format("woff");
	font-style:normal;
	font-weight: 800;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Black"),
		url("../font/PilatWide-Black.woff") format("woff");
	font-style:normal;
	font-weight: 900;
}
@font-face {
	font-family: "Quicksand";
	src: local("Quicksand-Regular"),
		url("../font/Quicksand-Regular.woff") format("woff");
	font-style:normal;
	font-weight: 400;
}