@charset "utf-8";

@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Regular"),
		url("../font/PilatCondensedTest-Thin.woff") format("woff"),
		url("../font/PilatWide-Thin.ttf") format("truetype");
	font-style:normal;
	font-weight: 200;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Regular"),
		url("../font/PilatExtendedTest-Light.woff") format("woff"),
		url("../font/PilatWide-Light.ttf") format("truetype");
	font-style:normal;
	font-weight: 300;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Book"),
		url("../font/PilatExtendedTest-Regular.woff") format("woff"),
		url("../font/PilatWide-Regular.ttf") format("truetype");
	font-style:normal;
	font-weight: 400;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-DemiBold"),
		url("../font/PilatExtendedTest-Book.woff") format("woff"),
		url("../font/PilatWide-Book.ttf") format("truetype");
	font-style:normal;
	font-weight: 500;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Bold"),
		url("../font/PilatExtendedTest-Demi.woff") format("woff"),
		url("../font/PilatWide-DemiBold.ttf") format("truetype");
	font-style:normal;
	font-weight: 600;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Bold"),
		url("../font/PilatExtendedTest-Bold.woff") format("woff"),
		url("../font/PilatWide-Bold.ttf") format("truetype");
	font-style:normal;
	font-weight: 700;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Bold"),
		url("../font/PilatExtendedTest-Heavy.woff") format("woff"),
		url("../font/PilatWide-Heavy.ttf") format("truetype");
	font-style:normal;
	font-weight: 800;
}
@font-face {
	font-family: "PilatWide";
	src: local("PilatWide-Bold"),
		url("../font/PilatExtendedTest-Black.woff") format("woff"),
		url("../font/PilatWide-Black.ttf") format("truetype");
	font-style:normal;
	font-weight: 900;
}
@font-face {
	font-family: "Quicksand";
	src: local("Quicksand-Regular"),
		url("../font/Quicksand-Regular.woff") format("woff"),
		url("../font/Quicksand-Regular.ttf") format("truetype");
	font-style:normal;
	font-weight: 400;
}