@charset "utf-8";

/* common */
.blind {position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden;}
.pc-only {display:block !important;}
.pc-only2 {display:inline-block !important;}
.pc-only3 {display:inline !important;}
.m-only,
.m-only2 {display:none !important;}

body {overflow-x:hidden;}
/* .inner {position:relative; width:1600px; margin:0 auto; padding:0 100px;} */

/* motion event */
.motion {transition:transform .5s;}
.motion.motion-r {transform:translateX(200px);}
.motion.motion-l {transform:translateX(-200px);}
.motion.on {transform:translateX(0);}

main,
section {width:100%; max-width:2560px; margin:0 auto;}
main {position:relative;}
main::before {content:''; z-index:100; opacity:.1; position:absolute; top:0; left:50%; width:1px; height:100%; background-color:#000; transform:translate(-801px);}
main::after {content:''; z-index:100; opacity:.1; position:absolute; top:0; left:50%; width:1px; height:100%; background-color:#000; transform:translate(800px);}

/* slick */
.slick-box {position:relative; overflow:hidden;}
.slick-box.img-radius {width:700px; height:700px;}
.slick-box .slide-content {position:relative; float:left;}
.slick-box .slick-dots li {display:inline-block; width:36px; height:4px; margin-right:10px; background-color:#d9d9d9; cursor:pointer;}
.slick-box .slick-dots li.slick-active {background-color:#009900;}
.slick-box .slick-dots li:last-child {margin-right:0;}
.slick-box .slick-dots li button {font-size:0;}

/* gnb */
header {z-index:1001; position:fixed; top:0; left:0; min-width:1600px; width:100%; height:180px; transition:all .3s;}
header .header-inner {position:relative; max-width:2560px; height:180px; margin:0 auto;}
header h1 {position:absolute; top:75px; left:100px; width:218px;}
.menu-list {position:absolute; top:85px; left:580px; font-size:16px; font-weight:700;}
.menu-list li {float:left; margin-right:60px;}
.menu-list li:last-child {margin-right:0;}
.menu-others {position:absolute; top:60px; right:100px;}
.menu-others .btn-lang {display:inline-block; width:82px; height:30px; margin-right:55px; font-size:14px; font-weight:bold; text-align:center; line-height:1.8; border:2px solid #fff; color:#fff;}
.menu-others .guide-mark {display:inline-block; width:195px; height:60px; vertical-align:middle;}
header.on {height:90px; background-color:#fff; box-shadow:0 1px 5px 0px #c7c7c7;}
header.on .header-inner {height:90px;}
header.on h1 {top:32px;}
header.on .menu-list {top:40px;}
header.on .menu-others {top:15px;}
header.on .menu-others .btn-lang{border-color:#000; color:#000;}
header.on .gnb-list.on .menu-others .btn-lang{border-color:#fff; color:#fff;}

.side-menu-list {position:absolute; top:265px; left:50%; font-size:14px; color:#119f0e; transform:translate(-1180px, 0);}
.side-menu-list li {padding-left:74px; line-height:42px;}
.side-menu-list li:before {content:''; display:inline-block; width:5px; height:5px; border-radius:5px; background-color:#ddd;}
.side-menu-list li.on {padding-left:0;}
.side-menu-list li.on::before{display:none;}
.side-menu-list li.on .sec-mark {display:block;}
.side-menu-list li .sec-mark {display:none;}
.side-menu-list li .sec-mark::before {content:''; display:inline-block; width:50px; height:1px; margin-top:-3px; margin-right:15px; vertical-align:middle; background-color:#119f0e;}
.side-menu-list li .sec-mark span {margin-right:15px;}

/* section */
section {position:relative; padding:92px 0;}
section .sub-title {font-size:28px; margin-bottom:34px; letter-spacing:-1px;}
section h2 {position:relative; font-size:88px; font-weight:700; line-height:1.28; color:#eeeeee;}
section h2 i {color:#009900;}
section .img-radius {z-index:101; position:absolute;}
section .img-radius img {border-radius:50%; overflow:hidden;}

.sec-dcnbio {min-height:1080px; padding-top:272px; background:url('../img/kv-pc.jpg') no-repeat top center; background-size:cover;}
.sec-dcnbio .scroll-down {position:absolute; top:366px; right:-169px; font-size:15px; font-weight:700; color:#fff; transform:rotate(90deg); animation:scrollDown 2s infinite;}
.sec-dcnbio .scroll-down::after {content:''; display:inline-block; width:25px; height:80px; margin-left:56px; vertical-align:middle; background:url('../img/icon-arrow.png') no-repeat; background-size:100% 100%; transform:rotate(-90deg);}

.sec-dcnbio h2, 
.sec-vision h2 {color:#000;}

.sec-vision {max-width:1600px; min-height:815px; margin-top:-200px; padding-top:183px; padding-bottom:27px; background-color:#fff;}
.sec-vision::before {content:''; position:absolute; top:0; left:-480px; width:480px; height:200px; background-color:#fff;}
.sec-vision .inner {margin-right:0;}
.sec-vision .content-box {padding-top:129px; padding-left:358px; font-size:18px; line-height:1.7;}
.sec-vision .content-box p {margin-bottom:30px;}
.sec-vision .content-box p:last-child {margin-bottom:0;}
.sec-vision .img-radius.vision01 {top:-93px; right:-160px; width:480px; height:480px;}
.sec-vision .img-radius.vision01::before {z-index:-1; content:''; opacity:.5; position:absolute; bottom:42px; left:316px; width:400px; height:400px; border-radius:0 0 400px 0; background:url('../img/img_deco02.png');}
.sec-vision .img-radius.vision02 {top:200px; left:-140px; width:480px; height:480px;}

.sec-member {padding-top:175px; padding-bottom:44px;}
.sec-member .inner::before {content:''; position:absolute; top:436px; left:-371px; width:305px; height:630px; background:url('../img/img_deco01.png');}
.slick01 {position:relative; left:-100px; width:1642px; height:730px; margin-top:-180px;}
.slick01 .member-name {font-size:35px;}
.slick01 .member-name span {margin-left:16px;}
.slick01 .slide-content {position:relative; padding-top:258px; padding-left:100px;}
.slick01 .slide-content ul {margin-top:28px; line-height:1.9;}
.slick01 .slide-content ul li {position:relative; font-size:16px;}
.slick01 .slide-content ul li::before {content:'-'; margin-right:6px;}
.slick01 .img-radius {top:0; right:0; width:700px; height:700px;}
.slick01 .slick-dots {position:absolute; bottom:102px; left:100px;}
.slick02 {padding-top:55px;}
.slick02 .slide-content {width:20%; padding-right:20px;}
.slick02 .member-name {font-size:24px; margin-bottom:15px;}
.slick02 .member-name + span {font-size:15px;}
.slick02 .slide-content ul {margin-top:28px; font-size:14px; line-height:1.5;}

/* Business Area */
.sec-business {padding-top:174px;}
.slick03 {z-index:100; position:relative; top:76px; left:-580px; width:2080px; margin-bottom:76px;}
.slick03 .slide-content > img {width:2080px; height:820px;}
.slick03 .business-content {position:absolute; bottom:100px; left:580px; width:640px; min-height:280px; padding:53px 50px; background-color:#fff;}
.slick03 .business-content .business-title {font-size:36px; margin-bottom:36px;}
.slick03 .business-content .business-txt {font-size:16px; line-height:1.9;}
.business-menu {z-index:101; position:absolute; top:18px; right:-480px;}
.business-menu > img {width:1020px; height:890px;}
.business-menu ul {position:absolute; top:340px; left:120px; font-size:18px; font-weight:700; color:#fff;}
.business-menu ul li {margin-bottom:30px; opacity:0.5;}
.business-menu ul li.on {opacity:1;}
.business-menu ul li span.num {margin-right:12px;}

/* Primary R&D */
.sec-primary {padding-top:217px; padding-bottom:10px; overflow:hidden;}
.sec-primary h2 {z-index:102;}
.sec-primary .inner::before {content:''; position:absolute; top:1428px; right:-140px; width:630px; height:305px; background:url('../img/img_deco01.png');}
.sec-primary .img-radius.primary01 {top:-116px; right:57px; width:330px; height:330px;}
.sec-primary .img-radius.primary02 {top:235px; left:-52px; width:600px; height:600px;}
.sec-primary .img-radius.primary02::before {z-index:-1; content:''; position:absolute; bottom:231px; left:-485px; width:700px; height:700px; border-radius:50%; background-color:#fafafa;}
.sec-primary .img-radius.primary03 {top:1122px; right:124px; width:480px; height:480px;}
.sec-primary .img-radius.primary03::before {z-index:-1; content:''; position:absolute; bottom:356px; left:308px; width:240px; height:240px; border-radius:50%; background-color:#009799;}

.primary-boxes {padding-top:84px; margin-bottom:288px;}
.primary-box {position:relative; padding-left:115px;}
.primary-box.box01 {left:485px; margin-bottom:120px;}
.primary-box.box02 {left:726px; margin-bottom:100px;}
.primary-box.box03 {left:365px; margin-bottom:130px;}
.primary-box.box04 {left:6px;}
.primary-box > img {position:absolute; top:0; left:0; width:79px; height:79px;}
.primary-box.box02 > img {width:78px; height:73px;}
.primary-box .primary-title {font-size:24px; font-weight:600; line-height:1.5; margin-bottom:23px;}
.primary-box.box03 .primary-title {padding-top:16px;}
.primary-box ul {font-size:17px; line-height:1.8;}
.primary-box ul li {padding-left:15px; text-indent:-15px;}
.primary-box.box02 li {margin-bottom:23px; line-height:1.5;}
.primary-box.box02 li:last-child {margin-bottom:0;}
.primary-box ul li::before {content:'-'; margin-right:6px;}
.primary-box ul li span {font-size:14px;}

/* R&D Center */
.slick04 {margin-top:77px;}
.slick04 .slide-content {width:400px; height:472px; margin-right:100px;}
.slick04 .slide-content:last-child {margin-right:0;}
.slick04 .slide-content > img {display:block; margin-bottom:42px;}
.slick04 .slide-content > span {display:inline-block; margin-bottom:20px; font-size:16px; color:#999999;}
.slick04 .slide-content > div {margin-bottom:28px; font-size:21px;}
.slick04 .slide-content > p {font-size:15px; line-height:1.6; white-space:nowrap;}
.slick04 .slide-content > div.center-addr {position:absolute; bottom:0; margin-bottom:0; font-size:15px;}
.slick04 .slide-content > div.center-addr:before {content:''; display:inline-block; width:18px; height:24px; margin-right:15px; vertical-align:middle; background:url('../img/icon-location.png') no-repeat center; background-size:100% 100%;}

.sec-location {padding-top:122px; padding-bottom:225px;}
.sec-location .content-box {margin-top:32px; font-size:16px; line-height:1.9;}
.sec-location .btn-inquiry {position:absolute; bottom:-29px; right:156px; width:300px; height:300px; font-size:23px; line-height:300px; text-align:center;border-radius:50%; background-color:#009900;}
.sec-location .btn-inquiry span {z-index:1; position:relative; color:#fff; transition:color .3s;}
.sec-location .btn-inquiry::before {z-index:-1; content:''; position:absolute; bottom:-348px; left:-209px; width:500px; height:500px; border-radius:50%; background:url('../img/img_deco02.png'); background-size:21px; transform:rotate(90deg);}
.sec-location .btn-inquiry::after {z-index:0; content:''; position:absolute; top:0; left:0; width:100%; height:100%; border-radius:50%; transform:scale(0); transition:all .3s;}
.sec-location .btn-inquiry:hover::after {transform:scale(0.95); background-color:#fff;}
.sec-location .btn-inquiry:hover span {color:#009900;}
.location {z-index:101; position:relative; top:58px; left:-260px; width:1920px; height:800px; margin-bottom:258px;}
.location address {position:absolute; top:0; right:260px; width:700px; height:220px; padding:52px 63px; background-color:#fff;}
.location address p {font-size:15px; margin-bottom:13px;}
.location address p:first-child {font-size:17px; font-weight:700;}
.location address p:last-child {margin-bottom:0;}

footer {height:500px; background-color:#202420;}
footer .inner {padding-top:101px;}
footer h3 {display:inline-block; width:175px; margin-bottom:41px;}
footer p {margin-bottom:14px; font-size:15px; color:#888888;}
footer p.copyright {margin-top:46px; margin-bottom:0;}
footer a.btn-top {z-index:100; position:absolute; top:280px; right:-162px; font-size:15px; font-weight:700; color:#fff; transform:rotate(90deg);}
footer a.btn-top::before {content:''; display:inline-block; width:25px; height:80px; margin-right:46px; vertical-align:middle; background:url('../img/icon-arrow.png') no-repeat; background-size:100% 100%; transform:rotate(90deg);}
footer .social-list {z-index:100; position:absolute; top:103px; right:88px; overflow:hidden;}
footer .social-list li {float:left; margin-right:14px;}
footer .social-list li:last-child {margin-right:0;}
footer .social-list li a {display:block; width:43px;}

/* popup */
.layer-popup-wrap {z-index:-100; position:fixed; top:0; left:0; width:100%; height:100%; display:none;}
.layer-popup-wrap::before {content:''; position:fixed; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:0; transition:opacity .4s; -webkit-transition:opacity .4s; -moz-transition:opacity .4s; -o-transition:opacity .4s;}
.layer-popup-wrap .layer-popup {position:absolute; overflow:hidden; top:50%; left:50%; width:960px; min-height:800px; padding:75px 70px; font-size:14px;background-color:#fff; transform:translate(-50%, -50%); opacity:0; transition:opacity .3s; -webkit-transition:opacity .3s; -moz-transition:opacity .3s; -o-transition:opacity .3s;}
.layer-popup-wrap .popup-header {overflow:hidden;}
.layer-popup-wrap .popup-header h2 {display:inline-block; margin-bottom:14px; font-size:28px; font-weight:700; vertical-align:top;}
.layer-popup-wrap .popup-header .sub-title {margin-bottom:20px; font-size:14px; color:#009900;}
.layer-popup-wrap .popup-header p {display:inline-block; float:right; width:550px; margin-top:-5px; font-size:14px; color:#666666; line-height:1.7; word-break:keep-all;}
.layer-popup-wrap .popup-header .btn-close {position:absolute; top:20px; right:20px; width:30px; height:30px;}
.layer-popup-wrap .popup-body {margin-top:20px; margin-bottom:20px;}
.layer-popup-wrap .popup-input {margin-bottom:5px;}
.layer-popup-wrap .popup-input label {display:block; padding:5px 30px; background-color:#f9f9f9;}
.layer-popup-wrap .popup-input span {position:relative; display:inline-block; width:85px; height:50px; line-height:50px; font-size:18px; font-weight:700; color:#333333;}
.layer-popup-wrap .popup-input input {width:85%; height:50px; padding:5px 22px; border:0; border-radius:4px; background-color:#f9f9f9; font-size:16px;}
.layer-popup-wrap .popup-input input::placeholder,
.layer-popup-wrap .popup-input input::-webkit-input-placeholder,
.layer-popup-wrap .popup-input input:-ms-input-placeholder,
.layer-popup-wrap .popup-input textarea::placeholder,
.layer-popup-wrap .popup-input textarea::-webkit-input-placeholder,
.layer-popup-wrap .popup-input textarea:-ms-input-placeholder {color:#888;}
.layer-popup-wrap .popup-input textarea {width:85%; height:230px; padding:13px 22px; border:0; border-radius:4px; background-color:#f9f9f9; font-size:16px;}
.layer-popup-wrap .popup-footer {overflow:hidden;}
.layer-popup-wrap .popup-footer .agree-box {position:relative; display:inline-block; margin-top:20px; cursor:pointer;}
.layer-popup-wrap .popup-footer .agree-box input[type=checkbox] {display:none;}
.layer-popup-wrap .popup-footer .agree-box input + span {position:relative; font-size:14px; color:#333333;}
.layer-popup-wrap .popup-footer .agree-box input + span::before {content:''; display:inline-block; width:20px; height:20px; background-color:#e2e2e2; vertical-align:middle; margin-right:8px;}
.layer-popup-wrap .popup-footer .agree-box input[type=checkbox]:checked + span::after {content:''; position:absolute; top:-2px; left:3px; width:20px; height:20px; background:url('../img/icon-check.png') no-repeat center; background-size:contain;}
.layer-popup-wrap .popup-footer .agree-box::after {content:''; position:absolute; right:0; bottom:0; width:calc(100% - 28px); height:1px; background-color:#333333;}
.layer-popup-wrap .popup-footer button {float:right; width:320px; height:60px; vertical-align:middle; background-color:#009900; color:#fff; font-size:16px; transition:background-color .3s, color .3s; -webkit-transition:background-color .3s, color .3s; -moz-transition:background-color .3s, color .3s; -o-transition:background-color .3s, color .3s;}
.layer-popup-wrap.on {z-index:1010;}
.layer-popup-wrap.on::before {opacity:.7;}
.layer-popup-wrap.on .layer-popup {opacity:1;}

@keyframes scrollDown {
    0% {transform:rotate(90deg) translateX(0);}
    30% {transform:rotate(90deg) translateX(20px);}
    50% {transform:rotate(90deg) translateX(20px);}
    80% {transform:rotate(90deg) translateX(0);}
}

@media (min-width:1601px) and (max-width:1920px){
    .menu-list {left:420px;}
}

@media (min-width:769px) and (max-width:1600px){
    .inner {width:100.0000vw; margin:0 auto; padding:0 6.2500vw;}

    main,
    section {width:100%; max-width:160.0000vw; margin:0 auto;}
    main::before {opacity:.1; top:0; left:50%; width:0.0625vw; height:100%; transform:translate(-50.0625vw);}
    main::after {opacity:.1; top:0; left:50%; width:0.0625vw; height:100%; transform:translate(50.0000vw);}

    /* slick */
    .slick-box.img-radius {width:43.7500vw; height:43.7500vw;}
    .slick-box .slick-dots li {width:2.2500vw; height:0.2500vw; margin-right:0.6250vw; cursor:pointer;}
    .slick-box .slick-dots li:last-child {margin-right:0;}

    /* gnb */
    header {min-width:100.0000vw; width:100%; height:11.2500vw; transition:all .3s;}
    header .header-inner {max-width:160.0000vw; height:11.2500vw; margin:0 auto;}
    header h1 {top:4.6875vw; left:6.2500vw; width:13.6250vw;}
    .menu-list {top:5.3125vw; left:26.2500vw; font-size:1.0000vw;}
    .menu-list li {margin-right:3.7500vw;}
    .menu-list li:last-child {margin-right:0;}
    .menu-others {top:3.7500vw; right:6.2500vw;}
    .menu-others .btn-lang {width:5.1250vw; height:1.8750vw; margin-right:3.4375vw; font-size:0.8750vw; line-height:1.8; border:0.1250vw solid #fff;}
    .menu-others .guide-mark {width:12.1875vw; height:3.7500vw;}
    header.on {height:5.6250vw; box-shadow:0 0.0625vw 0.3125vw 0.0000vw #c7c7c7;}
    header.on .header-inner {height:5.6250vw;}
    header.on h1 {top:2.0000vw;}
    header.on .menu-list {top:2.5000vw;}
    header.on .menu-others {top:0.9375vw;}

    .side-menu-list {top:16.5625vw; left:6.2500vw; font-size:0.8750vw;}
    .side-menu-list li {padding-left:4.6250vw; line-height:2.6250vw;}
    .side-menu-list li:before {width:0.3125vw; height:0.3125vw; border-radius:0.3125vw;}
    .side-menu-list li.on {padding-left:0;}
    .side-menu-list li .sec-mark::before {width:3.1250vw; height:0.0625vw; margin-top:-0.1875vw; margin-right:0.9375vw;}
    .side-menu-list li .sec-mark span {margin-right:0.9375vw;}

    /* section */
    section {padding:5.7500vw 0;}
    section .sub-title {font-size:1.7500vw; margin-bottom:2.1250vw; letter-spacing:-1px;}
    section h2 {font-size:5.5000vw;}

    .sec-dcnbio {min-height:67.5000vw; padding-top:17.0000vw;}
    .sec-dcnbio .scroll-down {top:22.8750vw; right:-10.5625vw; font-size:0.9375vw;}
    .sec-dcnbio .scroll-down::after {width:1.5625vw; height:5.0000vw; margin-left:3.5000vw;}

    .sec-vision {max-width:100.0000vw; min-height:50.9375vw; margin-top:-12.5000vw; padding-top:11.4375vw; padding-bottom:1.6875vw;}
    .sec-vision::before {top:0; left:-30.0000vw; width:30.0000vw; height:12.5000vw;}
    .sec-vision .inner {margin-right:0;}
    .sec-vision .content-box {padding-top:8.0625vw; padding-left:22.3750vw; font-size:1.1250vw; line-height:1.7;}
    .sec-vision .content-box p {margin-bottom:1.8750vw;}
    .sec-vision .content-box p:last-child {margin-bottom:0;}
    .sec-vision .img-radius.vision01 {top:-5.8125vw; right:-10.0000vw; width:30.0000vw; height:30.0000vw;}
    .sec-vision .img-radius.vision01::before {opacity:.5; bottom:2.6250vw; left:19.7500vw; width:25.0000vw; height:25.0000vw; border-radius:0 0 25.0000vw 0;}
    .sec-vision .img-radius.vision02 {top:12.5000vw; left:-8.7500vw; width:30.0000vw; height:30.0000vw;}

    .sec-member {padding-top:10.9375vw; padding-bottom:2.7500vw;}
    .sec-member .inner::before {top:27.2500vw; left:-23.1875vw; width:19.0625vw; height:39.3750vw;}
    .slick01 {left:-6.2500vw; width:102.6250vw; height:45.6250vw; margin-top:-11.2500vw;}
    .slick01 .member-name {font-size:2.1875vw;}
    .slick01 .member-name span {margin-left:1.0000vw;}
    .slick01 .slide-content {padding-top:16.1250vw; padding-left:6.2500vw;}
    .slick01 .slide-content ul {margin-top:1.7500vw; line-height:1.9;}
    .slick01 .slide-content ul li {font-size:1.0000vw;}
    .slick01 .slide-content ul li::before {margin-right:0.3750vw;}
    .slick01 .img-radius {width:43.7500vw; height:43.7500vw;}
    .slick01 .slick-dots {bottom:6.3750vw; left:6.2500vw;}
    .slick02 {padding-top:3.4375vw;}
    .slick02 .slide-content {width:20%; padding-right:1.2500vw;}
    .slick02 .member-name {font-size:1.5000vw; margin-bottom:0.9375vw;}
    .slick02 .member-name + span {font-size:0.9375vw;}
    .slick02 .slide-content ul {margin-top:1.7500vw; font-size:0.8750vw;}

    /* Business Area */
    .sec-business {padding-top:10.8750vw;}
    .slick03 {top:4.7500vw; left:-36.2500vw; width:130.0000vw; margin-bottom:4.7500vw;}
    .slick03 .slide-content > img {width:130.0000vw; height:51.2500vw;}
    .slick03 .business-content {bottom:6.2500vw; left:36.2500vw; width:40.0000vw; min-height:17.5000vw; padding:3.3125vw 3.1250vw;}
    .slick03 .business-content .business-title {font-size:2.2500vw; margin-bottom:2.2500vw;}
    .slick03 .business-content .business-txt {font-size:1.0000vw; line-height:1.9;}
    .business-menu {top:1.1250vw; right:-30.0000vw;}
    .business-menu > img {width:63.7500vw; height:55.6250vw;}
    .business-menu ul {top:21.2500vw; left:7.5000vw; font-size:1.1250vw;}
    .business-menu ul li {margin-bottom:1.8750vw;}
    .business-menu ul li span.num {margin-right:0.7500vw;}

    /* Primary R&D */
    .sec-primary {padding-top:13.5625vw; padding-bottom:0.6250vw;}
    .sec-primary .inner::before {top:89.2500vw; right:-8.7500vw; width:39.3750vw; height:19.0625vw;}
    .sec-primary .img-radius.primary01 {top:-7.2500vw; right:3.5625vw; width:20.6250vw; height:20.6250vw;}
    .sec-primary .img-radius.primary02 {top:14.6875vw; left:-3.2500vw; width:37.5000vw; height:37.5000vw;}
    .sec-primary .img-radius.primary02::before {bottom:14.4375vw; left:-30.3125vw; width:43.7500vw; height:43.7500vw;}
    .sec-primary .img-radius.primary03 {top:70.1250vw; right:7.7500vw; width:30.0000vw; height:30.0000vw;}
    .sec-primary .img-radius.primary03::before {bottom:22.2500vw; left:19.2500vw; width:15.0000vw; height:15.0000vw;}

    .primary-boxes {padding-top:5.2500vw; margin-bottom:18.0000vw;}
    .primary-box {padding-left:7.1875vw;}
    .primary-box.box01 {left:30.3125vw; margin-bottom:7.5000vw;}
    .primary-box.box02 {left:45.3750vw; margin-bottom:6.2500vw;}
    .primary-box.box03 {left:22.8125vw; margin-bottom:8.1250vw;}
    .primary-box.box04 {left:0.3750vw;}
    .primary-box > img {width:4.9375vw; height:4.9375vw;}
    .primary-box.box02 > img {width:4.8750vw; height:4.5625vw;}
    .primary-box .primary-title {font-size:1.5000vw; margin-bottom:1.4375vw;}
    .primary-box.box03 .primary-title {padding-top:1.0000vw;}
    .primary-box ul {font-size:1.0625vw;}
    .primary-box ul li {padding-left:0.9375vw; text-indent:-0.9375vw;}
    .primary-box.box02 li {margin-bottom:1.4375vw;}
    .primary-box.box02 li:last-child {margin-bottom:0;}
    .primary-box ul li::before {margin-right:0.3750vw;}
    .primary-box ul li span {font-size:0.8750vw;}

    /* R&D Center */
    .slick04 {margin-top:4.8125vw;}
    .slick04 .slide-content {width:25.0000vw; height:29.5000vw; margin-right:6.2500vw;}
    .slick04 .slide-content:last-child {margin-right:0;}
    .slick04 .slide-content > img {margin-bottom:2.6250vw;}
    .slick04 .slide-content > span {margin-bottom:1.2500vw; font-size:1.0000vw;}
    .slick04 .slide-content > div {margin-bottom:1.7500vw; font-size:1.3125vw;}
    .slick04 .slide-content > p {font-size:0.9375vw;}
    .slick04 .slide-content > div.center-addr {bottom:0; margin-bottom:0; font-size:0.9375vw;}
    .slick04 .slide-content > div.center-addr:before {width:1.1250vw; height:1.5000vw; margin-right:0.9375vw;}

    .sec-location {padding-top:7.6250vw; padding-bottom:14.0625vw;}
    .sec-location .content-box {margin-top:2.0000vw; font-size:1.0000vw;}
    .sec-location .btn-inquiry {bottom:-1.8125vw; right:9.7500vw; width:18.7500vw; height:18.7500vw; font-size:1.4375vw; line-height:18.7500vw;}
    .sec-location .btn-inquiry::before {bottom:-21.7500vw; left:-13.0625vw; width:31.2500vw; height:31.2500vw; background-size:1.3125vw;}
    .location {top:3.6250vw; left:-16.2500vw; width:120.0000vw; height:50.0000vw; margin-bottom:16.1250vw;}
    .location address {top:0; right:16.2500vw; width:43.7500vw; height:13.7500vw; padding:3.2500vw 3.9375vw;}
    .location address p {font-size:0.9375vw; margin-bottom:0.8125vw;}
    .location address p:first-child {font-size:1.0625vw;}
    .location address p:last-child {margin-bottom:0;}

    footer {height:31.2500vw;}
    footer .inner {padding-top:6.3125vw;}
    footer h3 {width:10.9375vw; margin-bottom:2.5625vw;}
    footer p {margin-bottom:0.8750vw; font-size:0.9375vw;}
    footer p.copyright {margin-top:2.8750vw; margin-bottom:0;}
    footer a.btn-top {top:17.5000vw; right:-10.1250vw; font-size:0.9375vw; transform:rotate(90deg);}
    footer a.btn-top::before {width:1.5625vw; height:5.0000vw; margin-right:2.8750vw;}
    footer .social-list {top:6.4375vw; right:5.5000vw;}
    footer .social-list li {margin-right:0.8750vw;}
    footer .social-list li:last-child {margin-right:0;}
    footer .social-list li a {width:2.6875vw;}
}

@media (min-width:769px) and (max-width:1810px) {
    .sec-dcnbio .scroll-down {right:0;}
    footer a.btn-top {right:1.9337vw;}
}

@media (min-width:769px) and (max-width:960px) {
    /* popup */
    .layer-popup-wrap .layer-popup {width:100.0000vw; min-height:83.3333vw; padding:7.8125vw 7.2917vw; font-size:1.4583vw;}
    .layer-popup-wrap .popup-header h2 {margin-bottom:1.4583vw; font-size:2.9167vw;}
    .layer-popup-wrap .popup-header .sub-title {margin-bottom:2.0833vw; font-size:1.4583vw;}
    .layer-popup-wrap .popup-header p {width:57.2917vw; margin-top:-0.5208vw; font-size:1.4583vw;}
    .layer-popup-wrap .popup-header .btn-close {top:2.0833vw; right:2.0833vw; width:3.1250vw; height:3.1250vw;}
    .layer-popup-wrap .popup-body {margin-top:2.0833vw; margin-bottom:2.0833vw;}
    .layer-popup-wrap .popup-input {margin-bottom:0.5208vw;}
    .layer-popup-wrap .popup-input label {padding:0.5208vw 3.1250vw;}
    .layer-popup-wrap .popup-input span {width:8.8542vw; height:5.2083vw; line-height:5.2083vw; font-size:1.8750vw;}
    .layer-popup-wrap .popup-input input {height:5.2083vw; padding:0.5208vw 2.2917vw; border:0; font-size:1.6667vw;}
    .layer-popup-wrap .popup-input textarea {height:23.9583vw; padding:1.3542vw 2.2917vw; border:0; font-size:1.6667vw;}
    .layer-popup-wrap .popup-footer .agree-box {margin-top:2.0833vw;}
    .layer-popup-wrap .popup-footer .agree-box span {font-size:1.4583vw;}
    .layer-popup-wrap .popup-footer .agree-box span::before {width:2.0833vw; height:2.0833vw; margin-right:0.8333vw;}
    .layer-popup-wrap .popup-footer .agree-box input[type=checkbox]:checked + span::after {top:-0.2083vw; left:0.3125vw; width:2.0833vw; height:2.0833vw;}
    .layer-popup-wrap .popup-footer .agree-box::after {width:calc(100% - 2.9167vw); height:1px;}
    .layer-popup-wrap .popup-footer button {width:33.3333vw; height:6.2500vw; font-size:1.6667vw;}
}

@media (max-width:768px) {
    .pc-only,
    .pc-only2,
    .pc-only3 {display:none !important;}
    .m-only {display:block !important;}
    .m-only2 {display:inline-block !important;}

    .inner {width:100.0000vw; margin:0 auto; padding:0 6.6667vw;}

    /* motion event */
    .motion.motion-r {transform:translateX(0);}
    .motion.motion-l {transform:translateX(0);}

    main,
    section {width:100%; max-width:100%;}
    main::before,
    main::after {display:none;}

    /* slick */
    .slick-box.img-radius {width:43.7500vw; height:43.7500vw;}
    .slick-box .slick-dots li {width:4.8000vw; height:0.5333vw; margin-right:1.3333vw;}
    .slick-box .slick-dots li:last-child {margin-right:0;}

    /* gnb */
    header {min-width:100.0000vw; height:26.6667vw;}
    header .header-inner {max-width:100.0000vw; height:26.6667vw;}
    header h1 {top:16.0000vw; left:4.0000vw; width:34.6667vw;}
    .btn-gnb {z-index:600; position:fixed; top:12.0000vw; right:0; width:14.6667vw; height:13.3333vw;}
	.btn-gnb::before,
    .btn-gnb::after {content:''; position:absolute; right:4.0000vw; width:6.4000vw; height:0.8000vw; background-color:#fff; transition:top .3s, transform .3s; -webkit-transition:top .3s, transform .3s; -moz-transition:top .3s, transform .3s; -o-transition:top .3s, transform .3s;}
	.btn-gnb::before {top:4.0000vw;}
    .btn-gnb::after {top:8.0000vw;}
    .btn-gnb > span {position:absolute; top:6.0000vw; right:4.0000vw; width:6.4000vw; height:0.8000vw; background-color:#fff; transition:width .3s, transform .3s; -webkit-transition:width .3s, transform .3s; -moz-transition:width .3s, transform .3s; -o-transition:width .3s, transform .3s;}
	.btn-gnb.on::before {top:6.0000vw; background-color:#fff; transform:rotate(45deg);}
    .btn-gnb.on::after {top:6.0000vw; background-color:#fff; transform:rotate(-45deg);}
    .btn-gnb.on > span {width:0;}
    .gnb-bg {display:none; opacity:.25; z-index:500; position:fixed; width:100%; height:100%; top:0; right:0; background-color:#000;}
    .gnb-bg.on {display:block;}
    .gnb-list {opacity:0; z-index:550; position:fixed; width:42.6667vw; height:100%; top:0; right:0; transform:translateX(100%); transition:all .3s;}
    .gnb-list.on {opacity:1; transform:translateX(0);}
    .gnb-list::before {content:''; position:absolute; z-index:-1; width:100%; height:100%; background-color:#000; opacity:.9;}
    .menu-list {position:static; padding-top:30.6667vw; padding-left:7.3333vw; color:#fff; font-size:4.0000vw;}
    .menu-list li {float:none; margin-right:3.7500vw;}
    .menu-list li + li {margin-top:7.3333vw;}
    .menu-list li:last-child {margin-right:0;}
    .menu-others {top:auto; right:auto; bottom:10.6667vw; left:7.3333vw;}
    .menu-others .btn-lang {width:13.3333vw; height:6.4000vw; margin-right:0; margin-bottom:5.3333vw; border-color:#fff; color:#fff; font-size:2.9333vw; line-height:6.1333vw;}
    .menu-others .guide-mark {display:block; width:26.0000vw; height:8.0000vw;}header.on {height:13.3333vw; box-shadow:0 0.0625vw 0.3125vw 0.0000vw #c7c7c7;}
    
    header.on .header-inner {height:13.3333vw;}
    header.on h1 {top:4.2667vw;}
    header.on .btn-gnb,
    header.on .btn-gnb.on {top:0;}
    header.on .btn-gnb::before {top:4.0000vw; background-color:#000;}
    header.on .btn-gnb::after {top:8.0000vw; background-color:#000;}
    header.on .btn-gnb > span {top:6.0000vw; background-color:#000;}
    header.on .btn-gnb.on::before {top:6.0000vw; background-color:#fff;}
    header.on .btn-gnb.on::after {top:6.0000vw; background-color:#fff;}
    header.on .btn-gnb.on > span{background-color:#fff;}
    header.on .menu-others {top:auto;}

    .side-menu-list {top:16.5625vw; left:6.2500vw; font-size:0.8750vw;}
    .side-menu-list li {padding-left:4.6250vw; line-height:2.6250vw;}
    .side-menu-list li:before {width:0.3125vw; height:0.3125vw; border-radius:0.3125vw;}
    .side-menu-list li.on {padding-left:0;}
    .side-menu-list li .sec-mark::before {width:3.1250vw; height:0.0625vw; margin-top:-0.1875vw; margin-right:0.9375vw;}
    .side-menu-list li .sec-mark span {margin-right:0.9375vw;}

    /* section */
    section {padding:5.7500vw 0;}
    section::before {position:absolute; left:6.6667vw; color:#009900; font-size:2.6667vw; font-family:'Montserrat';}
    section .sub-title {font-size:3.7333vw; margin-bottom:2.6667vw; letter-spacing:-1px;}
    section h2 {font-size:7.2000vw;}

    .sec-dcnbio::before {display:none;}
    .sec-dcnbio h2 {font-size:9.6000vw; letter-spacing:-1px;}
    .sec-dcnbio {min-height:177.8667vw; padding:37.3333vw 0 10.6667vw; background:url('../img/kv-m.jpg') no-repeat top center; background-size:cover;}
    .sec-dcnbio .scroll-down {top:96.0000vw; right:-8.0000vw; font-size:2.6667vw; font-weight:400; letter-spacing:1px;}
    .sec-dcnbio .scroll-down::after {width:3.3333vw; height:10.5333vw; margin-left:6.6667vw;}

    .sec-dcnbio h2, 
    .sec-vision h2 {line-height:1.2;}
    .sec-vision::before {content:'Vision'; top:10.6667vw; left:6.6667vw; width:50%; height:auto;}
    .sec-vision {max-width:96.0000vw; min-height:133.3333vw; margin-top:-10.6667vw; margin-left:0; padding-top:0; padding-bottom:6.0000vw;}
    .sec-vision .inner {width:100%; margin-right:0; padding-top:20.0000vw; padding-right:0;}
    .sec-vision .content-box {width:calc(100% + 2.6667vw); padding-top:8.0000vw; padding-left:0; font-size:3.7333vw; line-height:1.5; letter-spacing:-1px;}
    .sec-vision .content-box p {margin-bottom:5.3333vw;}
    .sec-vision .content-box p:last-child {margin-bottom:0;}
    .sec-vision .img-radius.vision01 {top:7.7333vw; right:4.0000vw; width:32.0000vw; height:32.0000vw;}
    .sec-vision .img-radius.vision01::before {top:2.9333vw; right:-8.0000vw; bottom:auto; left:auto; width:32.2667vw; height:38.1333vw; border-radius:18.6667vw; background:url('../img/img_deco03.jpg') no-repeat; background-size:100% 100%;}
    .sec-vision .img-radius.vision02 {position:static; width:48.0000vw; height:48.0000vw; margin-top:10.0000vw;}

    .sec-member {padding-top:18.6667vw; padding-bottom:2.7500vw;}
    .sec-member::before {content:'Member'; top:10.0000vw;}
    .sec-member .inner::before {display:none;}
    .slick01 {left:0; width:calc(100% + 6.6667vw); height:124.0000vw; margin-top:-26.0000vw;}
    .slick01 .member-name {font-size:4.8000vw;}
    .slick01 .member-name span {margin-left:2.0000vw;}
    .slick01 .slide-content {padding-top:45.3333vw; padding-left:0;}
    .slick01 .slide-content ul {margin-top:4.0000vw; line-height:1.6;}
    .slick01 .slide-content ul li {padding-left:2.6667vw; font-size:3.4667vw;}
    .slick01 .slide-content ul li::before {position:absolute; top:0; left:0; margin-right:1.3333vw;}
    .slick01 .img-radius {right:-3.3333vw; width:52.0000vw; height:52.0000vw;}
    .slick01 .slick-dots {bottom:0; left:0;}

    .consultant-box {padding:10.6667vw 0 1.3333vw;}
    .slick02 {height:57.3333vw; padding-top:6.0000vw;}
    .slick02 .slide-content {width:100%; padding-right:1.2500vw;}
    .slick02 .member-name {font-size:4.0000vw; margin-bottom:2.6667vw;}
    .slick02 .member-name + span {font-size:3.7333vw;}
    .slick02 .slide-content ul {width:calc(100% + 5.3333vw); margin-top:4.0000vw; font-size:3.4667vw; line-height:1.65; letter-spacing:-1px;}
    .slick02 .slick-dots {position:absolute; bottom:0; left:0;}

    /* Business Area */
    .sec-business {padding:19.3333vw 0 13.3333vw 0;}
    .sec-business::before {content:'Business'; top:10.6667vw;}
    .sec-business .inner::before {content:''; position:absolute; top:-14.0000vw; right:0; width:24.0000vw; height:33.3333vw; background:url('../img/img_deco01.png'); background-size:1.6000vw 1.6000vw;}
    .slick03 {top:8.6667vw; left:-6.6667vw; width:calc(100% + 13.3333vw); margin-bottom:0; padding-bottom:10.0000vw}
    .slick03 .slide-content > img {width:100.0000vw; height:128.0000vw;}
    .slick03 .business-content {bottom:14.6667vw; left:0; width:85.3333vw; min-height:77.3333vw; padding:16.0000vw 6.6667vw 0;}
    .slick03 .business-content .business-title {font-size:5.6000vw; margin-bottom:1.3333vw; line-height:1.4;}
    .slick03 .business-content .business-txt {position:absolute; top:36.0000vw; left:6.6667vw; font-size:3.4667vw; line-height:1.65; letter-spacing:-1px;}
    .slick03 .slick-dots {position:absolute; bottom:0; left:6.6667vw;}
    .business-menu {top:0; right:auto; left:0;}
    .business-menu ul {top:61.3333vw; left:6.6667vw; width:40.0000vw; color:#eee; font-size:3.2000vw;}
    .business-menu ul li {display:inline-block; margin-bottom:0;}
    .business-menu ul li + li {margin-left:1.3333vw;}
    .business-menu ul li span.num {margin-right:0;}
    .business-menu ul li.on {color:#009900;}
    
    /* Primary R&D */
    .sec-primary {padding-top:10.6667vw; padding-bottom:4.0000vw;}
    .sec-primary::before {content:'R&D'; top:10.0000vw;}
    .sec-primary .inner::before {display:none;}
    .sec-primary h2 {padding-top:8.0000vw;}
    .sec-primary .img-radius.primary01 {top:-7.2500vw; right:3.5625vw; width:29.3333vw; height:29.3333vw;}
    .sec-primary .img-radius.primary01::before {z-index:-1; content:''; position:absolute; right:-14.6667vw; bottom:-12.0000vw; left:auto; width:36.0000vw; height:36.0000vw; border-radius:50%; background-color:#f4f4f4;}
    .sec-primary .img-radius.primary02 {position:static; width:48.0000vw; height:48.0000vw; margin-left:-16.6667vw;}
    .sec-primary .img-radius.primary02::before {display:none;}
    .sec-primary .img-radius.primary03 {position:relative; top:0; right:0; width:64.0000vw; height:64.0000vw; margin:-12.0000vw -14.6667vw 0 auto;}
    .sec-primary .img-radius.primary03::before {bottom:48.0000vw; left:40.0000vw; width:32.0000vw; height:32.0000vw;}

    .primary-boxes {padding-top:9.3333vw; margin-bottom:9.3333vw;}
    .primary-box {padding-top:13.3333vw; padding-left:0;}
    .primary-box.box01 {left:0; margin-bottom:10.0000vw;}
    .primary-box.box02 {left:0; margin-bottom:7.3333vw;}
    .primary-box.box03 {left:0; margin-bottom:7.3333vw; padding-top:16.0000vw;}
    .primary-box.box04 {left:0;}
    .primary-box > img {width:10.5333vw; height:10.5333vw;}
    .primary-box.box02 > img {width:10.4000vw; height:9.7333vw;}
    .primary-box.box03 > img,
    .primary-box.box04 > img {top:2.0000vw;}
    .primary-box .primary-title {position:relative; margin-bottom:4.0000vw; padding-top:1.3333vw; font-size:4.2667vw; letter-spacing:-0.1600vw;}
    .primary-box.box02 .primary-title {margin-bottom:3.3333vw;}
    .primary-box.box03 .primary-title {margin-bottom:2.6667vw; padding-top:1.3333vw;}
    .primary-box.box04 .primary-title {padding-top:4.0000vw;}
    .primary-box ul {width:calc(100% + 2.6667vw); font-size:3.7333vw; line-height:1.5; letter-spacing:-1px;}
    .primary-box ul li {padding-left:2.6667vw; text-indent:-2.9333vw;}
    .primary-box.box02 li {margin-bottom:5.0667vw;}
    .primary-box.box02 li:last-child {margin-bottom:0;}
    .primary-box ul li::before {margin-right:1.7333vw;}
    .primary-box ul li span {font-size:3.4667vw;}

    /* R&D Center */
    .sec-primary .rnd-box h2 {padding-top:12.0000vw;}
    .rnd-box {width:calc(100% + 6.6667vw)}
    .slick04 {margin-top:6.0000vw; margin-left:-20.6667vw;}
    .slick04 .slide-content {width:72.0000vw; max-width:72.0000vw; height:102.6667vw; margin-right:8.6667vw;}
    .slick04 .slide-content:last-child {margin-right:0;}
    .slick04 .slide-content > img {margin-bottom:8.0000vw;}
    .slick04 .slide-content > span {margin-bottom:2.6667vw; font-size:3.7333vw;}
    .slick04 .slide-content > div {margin-bottom:4.6667vw; font-size:4.2667vw;}
    .slick04 .slide-content > p {margin-bottom:10.0000vw; font-size:3.4667vw; white-space:inherit;}
    .slick04 .slide-content > div.center-addr {position:static; margin-bottom:0; font-size:3.4667vw; white-space:nowrap;}
    .slick04 .slide-content > div.center-addr:before {width:3.3333vw; height:4.5333vw; margin-right:2.0000vw;}

    /* Location */
    .sec-location {padding-top:20.0000vw; padding-bottom:26.6667vw;}
    .sec-location::before {content:'Location'; top:10.6667vw;}
    .sec-location .content-box {margin-top:27.3333vw; font-size:3.7333vw; line-height:1.5; letter-spacing:-0.0800vw;}
    .sec-location .btn-inquiry {bottom:44.0000vw; right:4.0000vw; width:40.0000vw; height:40.0000vw; font-size:4.8000vw; line-height:40.0000vw;}
    .sec-location .btn-inquiry::before {bottom:-6.0000vw; left:-7.3333vw; width:37.3333vw; height:37.3333vw; background-size:4.5333vw;}
    .location {top:0; left:-6.6667vw; width:calc(100% + 13.3333vw); height:122.6667vw; margin-top:8.6667vw; margin-bottom:0;}
    .location address {top:auto; bottom:0; left:0; width:96.0000vw; height:42.6667vw; padding:6.6667vw;}
    .location address p {font-size:3.7333vw; margin-bottom:0; line-height:1.5;}
    .location address p:first-child {margin-bottom:1.3333vw; font-size:4.2667vw; letter-spacing:-1px;}
    .location address p:nth-child(2) {letter-spacing:-0.1067vw;}
    .location address p:nth-child(3) {letter-spacing:0.1067vw;}
    .location address p:last-child {margin-bottom:0; letter-spacing:-0.1067vw;}
    .inquiry-box {padding-top:14.6667vw;}

    footer {height:113.3333vw;}
    footer .inner {height:100%; padding:13.3333vw 0 0 6.6667vw;}
    footer h3 {width:34.6667vw; margin-bottom:4.6667vw;}
    footer address {line-height:1.45; letter-spacing:-0.1067vw;}
    footer p {margin-bottom:1.3333vw; font-size:3.4667vw;}
    footer p.copyright {margin-top:7.3333vw; margin-bottom:0; font-size:2.9333vw; line-height:1.5;}
    footer a.btn-top {top:auto; bottom:23.3333vw; right:-8.0000vw; font-size:2.6667vw; font-weight:400; letter-spacing:1px; transform:rotate(90deg);}
    footer a.btn-top::before {width:3.3333vw; height:10.5333vw; margin-right:6.6667vw;}
    footer .social-list {top:auto; right:auto; bottom:21.3333vw; left:3.3333vw;}
    footer .social-list li {margin-right:2.8000vw;}
    footer .social-list li:last-child {margin-right:0;}
    footer .social-list li a {width:9.2000vw;}

    /* popup */
    .layer-popup-wrap {overflow-y:scroll;}
    .layer-popup-wrap::before {display:none;}
    .layer-popup-wrap .layer-popup {top:0; left:0; width:100%; min-height:173.3333vw; padding:8.0000vw 6.6667vw; font-size:1.8667vw; transform:translate(0, 0);}
    .layer-popup-wrap .popup-header h2 {margin-bottom:7.7333vw; font-size:5.6000vw;}
    .layer-popup-wrap .popup-header .sub-title {margin-bottom:6.0000vw; font-size:2.6667vw;}
    .layer-popup-wrap .popup-header p {width:73.3333vw; margin-top:-0.6667vw; font-size:1.8667vw;}
    .layer-popup-wrap .popup-header .btn-close {top:4.6667vw; right:4.6667vw; width:5.3333vw; height:5.3333vw;}
    .layer-popup-wrap .popup-body {margin-top:2.6667vw; margin-bottom:2.6667vw;}
    .layer-popup-wrap .popup-input {margin-bottom:1.0667vw;}
    .layer-popup-wrap .popup-input label {padding:3.3333vw 5.3333vw;}
    .layer-popup-wrap .popup-input span {width:14.6667vw; height:6.6667vw; line-height:6.6667vw; font-size:3.7333vw;}
    .layer-popup-wrap .popup-input input {width:75%; height:6.6667vw; padding:0.6667vw 2.9333vw; border:0; font-size:3.7333vw;}
    .layer-popup-wrap .popup-input textarea {width:75%; height:54.6667vw; padding:0.5333vw 2.9333vw; border:0; font-size:3.7333vw;}
    .layer-popup-wrap .popup-footer .agree-box {margin-top:3.3333vw;}
    .layer-popup-wrap .popup-footer .agree-box input + span {font-size:3.4667vw;}
    .layer-popup-wrap .popup-footer .agree-box input + span::before {width:5.3333vw; height:5.3333vw; margin-right:2.6667vw;}
    .layer-popup-wrap .popup-footer .agree-box input[type=checkbox]:checked + span::after {top:-0.5333vw; left:0.8000vw; width:5.3333vw; height:5.3333vw;}
    .layer-popup-wrap .popup-footer .agree-box::after {width:calc(100% - 8.0000vw); height:1px;}
    .layer-popup-wrap .popup-footer button { width:100%; height:13.3333vw; margin-top:8.0000vw; font-size:4.8000vw;}
}